<template id="contentMenuItemTemplate">
    <style>
        .item {
            height: 19px;
            box-sizing: border-box;
            padding: 0 12px 0 20px;
            font-family: SFPro;
            color: rgba(0, 0, 0, .9);
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            user-select: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .item_active {
            background: #3897FE;
            color: #fff;
            position: relative;
        }

        .arrow_black {
            display: block;
            opacity: .9;
        }

        .arrow_white {
            display: none;
        }

        .item_active .arrow_black {
            display: none;
        }

        .item_active .arrow_white {
            display: block;
        }

        /* .submenu-arrow {} */

        .submenu-arrow:not(.submenu-arrow_active) {
            display: none;
        }
    </style>
    <div class="item">
        <slot></slot>

        <div class="submenu-arrow">
            <svg class="arrow_black" width="9" height="11" viewBox="0 0 9 11" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.5L0 0.5L9 5.5L0 10.5Z" fill="black" />
            </svg>

            <svg class="arrow_white" width="9" height="11" viewBox="0 0 9 11" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.5L0 0.5L9 5.5L0 10.5Z" fill="white" />
            </svg>
        </div>

    </div>
</template>
<script>

    class ContentMenuItemComponent extends NMComponent {
        constructor() {
            super();

            this.opened = false

            this.attachTemplate('contentMenuItemTemplate');
        }

        attributeChangedCallback(name, oldValue, newValue) {
            switch (name) {
                case ContentMenuItemComponent.ARRT_IS_SUBMENU:
                    _attrSubmenuChagned(oldValue, newValue);
                    break;
            }
        }

        attachSubmenu(contextMenuElement) {
            this.submenu = contextMenuElement;

            this.shadowRoot.querySelector('.submenu-arrow').classList.add('submenu-arrow_active');

            this.addEventListener('click', (e) => {
                if (e.target === this) {
                    this._toogleSubmenu();
                }
            });
        }

        _toogleSubmenu() {
            if (this.opened) {
                this._closeSubmenu()
            } else {
                this._openSubmenu();
            }
        }

        _closeSubmenu() {
            this.opened = false;
            this.shadowRoot.querySelector('.item').classList.remove('item_active');
            this.submenu.close();
        }

        _openSubmenu() {
            this.opened = true;
            this.shadowRoot.querySelector('.item').classList.add('item_active');
            this.submenu.open();
        }
    }

    window.customElements.define('mac-context-menu-item', ContentMenuItemComponent);
</script>