<template id="buttonTemplate">
    <style>
        .mac-button {
            height: 20px;
            text-align: center;
            min-width: 100px;
            box-sizing: border-box;
            padding: 0 10px;
            font-family: SFPro;
            display: inline-block;
            background: linear-gradient(180deg, #50A4F9 0%, #005CFF 100%),
                linear-gradient(180deg, #6CB3FA 0%, #067DFF 100%);
            color: #FFFFFF;
            border: 0.5px solid #50A4F9;
            border-radius: 3.5px;
            font-size: 13px;
            line-height: 19px;
            cursor: pointer;
            user-select: none;
            box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
        }
    </style>
    <div class="mac-button">
        <slot></slot>
    </div>
</template>
<script>
    'use strict';

    window.customElements.define('mac-button', class extends NMComponent {
        constructor() {
            super();
            this.attachTemplate('buttonTemplate');
        }
    })

</script>