<template id="windowtitleTemplate">
    <style>
        .window-title {
            position: relative;
            height: 16px;
            background: linear-gradient(180deg, #EDECED 1.45%, #D2D1D2 97.1%);
            box-shadow: inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), inset 0px -0.5px 0px #B7B4B7, inset 0px -1px 0px rgba(183, 180, 183, 0.3);
        }

        .title {
            text-align: center;
            width: 100%;
            position: absolute;
            pointer-events: none;
            height: 100%;
            line-height: 16px;
            font-size: 11px;
            font-family: SFPro;
            color: rgba(0, 0, 0, 0.73);
            top: 0;
            left: 0;
        }

        .control {
            width: 10px;
            height: 10px;
            box-sizing: border-box;
            background: #D0D0D0;
            border: 0.5px solid #B2B2B2;
            transition: all 200ms ease;
            border-radius: 5px;
        }

        .control+.control {
            margin-left: 8px;
        }

        .control_close:hover {
            background: #FF6157;
            border: 0.5px solid #E24640;
        }

        .controls {
            margin-left: 8px;
            margin-top: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    </style>
    <div class="window-title">
        <div class="controls">
            <div class="control control_close"></div>
            <div class="control control_maximize"></div>
            <div class="control control_rollup"></div>
        </div>
        <div class="title">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    'use strict';

    window.customElements.define('mac-window-title', class extends NMComponent {
        constructor() {
            super();
            this.attachTemplate('windowtitleTemplate');

            this.defineEvents();
        }

        defineEvents() {
            this.shadowRoot.querySelector('.control_close').addEventListener('click', e => {
                this.dispatchEvent(new NMEvent('closeClick', null, { data: { msg: 'Test message' } }));
            });
        }
    });
</script>